@font-face {
    font-family: "Druk Wide Cy";
    src: url("0b5ecd0afcf95185925504cdca01f5e3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("0b5ecd0afcf95185925504cdca01f5e3.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: 400;
    font-style: normal;
  }