* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 22px;
}
body {
  font-family: 'Druk Wide Cy';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.mobile-indent {
  display: none;
}
.container {
  max-width: 75vw;
  margin: 0px auto;
}
.container-mobile {
  max-width: 75vw;
  margin: 0px auto;
}
.main {
  background-color: #F8C800;
  height: 100vh;
  overflow-x: hidden;
}
.main-title {
  padding-top: 11vh;
  position: relative;
  z-index: 1;
}
.menu__logo {
  position: absolute;
  top: 0;
  left: -5px;
}
.menu__logo_active {
  top: 16px;
}
.menu__logo img {
  width: 127.35px;
  height: 96.02px;
}
.menu__row {
  background-color: black;
  box-shadow: -30px 0 0 #000;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.2;
  letter-spacing: 0.12em;
  color: #F8C800;
}
.menu__item:hover {
  color: #FFFFFF;
}
.menu-mobile {
  display: none;
}
.title {
  font-size: 4rem;
  line-height: 0.9;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  width: 85%;
}
.title__wrapper {
  position: relative;
  display: inline-block;
}
.title__hide {
  display: flex;
  justify-content: flex-end;
  font-size: 3.1rem;
  line-height: 1.1;
  color: #000000;
  transform: translateY(-110%);
}
.title__active {
  opacity: 0;
  color: #F8C800;
  background-color: black;
  font-size: 4rem;
  line-height: 0.9;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 99.4%;
  box-shadow: 0 0.4rem black, 0 -0.17rem black;
}
.title-background__wrapper {
  position: relative;
}
.title-background__wrapper::before {
  content: '';
  width: 100vw;
  height: 91%;
  background-color: #F8C800;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.video {
  width: 100%;
  position: relative;
}
.video__media {
  width: 100%;
  height: auto;
}
.video__image_top {
  width: 75%;
  position: absolute;
  transform: translate(16%, -99%);
}
.video__image_bottom {
  width: 75%;
  position: absolute;
  bottom: -20%;
  left: 12%;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 14vw;
}
.card {
  width: 24.5vw;
  margin-bottom: 8vh;
}
.card__image {
  width: 100%;
}
.card__title {
  font-size: 1.5rem;
  line-height: 1.5;
  position: relative;
}
.card__title_ozon,
.card__title_sber,
.card__title_shell,
.card__title_gaz,
.card__title_domovenok,
.card__title_pravmir {
  display: none;
  position: absolute;
  background-color: black;
  color: #F8C800;
  bottom: -1px;
  width: 100%;
  height: 112%;
  padding-top: 1%;
  animation: animate_on_hover 0.5s ease;
}
.card__line {
  width: 100%;
  height: 1.4vw;
  background-color: black;
}
.card__subtitle {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}
@keyframes animate_on_hover {
  0% {
    top: 37%;
  }
  100% {
    top: -9%;
  }
}
.advantage {
  background-color: #F8C800;
  padding-top: 78px;
  overflow-y: hidden;
}
.advantage__title {
  width: 100%;
  font-size: 3.8rem;
}
.advantage-cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3.5vw;
}
.advantage-card {
  margin-top: 59px;
  width: 35vw;
}
.advantage-card__title {
  font-size: 1.5rem;
  line-height: 1.06;
  position: relative;
}
.advantage-card__line {
  position: absolute;
  width: 72%;
  bottom: -44%;
}
.advantage-card__subtitle {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 7%;
}
.advantage-logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 111px;
}
.advantage-logo_mobile {
  display: none;
}
.advantage-logo__wrapper {
  width: 15%;
  display: flex;
  justify-content: center;
}
.advantage-logo__wrapper img {
  width: 100%;
}
.advantage-logo__sber {
  width: 30%;
}
.advantage-logo__glo {
  width: 10%;
}
.advantage-logo__lukoil {
  width: 17%;
}
.advantage__wrapper {
  z-index: 1;
}
.advantage__active {
  opacity: 1;
  font-size: 3.8rem;
  line-height: 0.9;
  left: 99.6%;
  z-index: -1;
  transform: translateY(150%);
}
.advantage__footer {
  font-size: 3.8rem;
  padding-bottom: 5%;
  margin-top: 64px;
  position: relative;
}
.advantage__footer:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 125%;
  background-color: #F8C800;
  bottom: -10%;
  left: 0;
  z-index: 1;
}
.contacts {
  position: relative;
}
.contacts-video {
  width: 78vw;
  position: relative;
}
.contacts-video__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/contacts/logo-test.svg) 0% 0% no-repeat;
  background-size: contain;
  z-index: 1;
}
.contacts__video {
  width: 80%;
  height: auto;
  transform: translateX(-11vw);
}
.contacts-contain {
  width: 61vw;
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.contacts__wrapper {
  margin-left: 75px;
}
.contacts__title {
  font-size: 1.5rem;
  line-height: 1.06;
  margin-bottom: 13px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  width: 18vw;
}
.contacts__input {
  border: 2px solid #868686;
  margin-top: 7px;
  padding: 9px;
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
}
.contacts__button {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  color: #F8C800;
  padding: 9px;
  margin-top: 15px;
  border: 1px solid black;
  background-color: black;
}
.contacts__button:hover {
  color: white;
  cursor: pointer;
}
.footer {
  background-color: black;
  padding: 2vw 0 2vw;
  box-shadow: 0px -5px black;
  z-index: 1;
  position: relative;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.footer__description img {
  width: 7vw;
}
.footer__description img:hover {
  cursor: pointer;
}
.footer-logo__wrapper {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 2vw));
  left: 20.4%;
  width: 8.5%;
  z-index: 2;
}
.footer-logo__wrapper img {
  width: 100%;
}
.footer-logo__hiden {
  opacity: 0;
}
.footer__contacts {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #FFFFFF;
}
.footer__contacts:hover {
  color: #616060;
  cursor: pointer;
}
.footer__icons {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__row {
  display: flex;
  align-items: center;
  width: 30%;
}
.footer__row a {
  width: 18%;
  margin-right: 33%;
}
.footer__row img {
  width: 110%;
}
.footer .facebook {
  width: 60%;
}
.footer .insta {
  width: 90%;
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 80vw;
  }
  .menu__logo img {
    width: 82.35px;
    height: 74.02px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .menu__row {
    padding-left: 30px;
    box-shadow: none;
  }
  .menu__logo img {
    width: 76.35px;
    height: 66.02px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .card {
    width: 39vw;
  }
  .contacts__form {
    width: 22vw;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 7px;
  }
  .contacts__title {
    margin-bottom: 0;
  }
  .contacts__input {
    padding: 4px;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 7px;
  }
  .container {
    max-width: 94vw;
  }
  .mobile-indent {
    display: block;
  }
  .desktop-indent {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mobile__card_hide {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile__logo {
    position: fixed;
    top: 6px;
    right: 8px;
    z-index: 2;
  }
  .menu-mobile__logo img {
    width: 58px;
    height: 47px;
  }
  .menu-mobile__card {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 78vw;
    height: 90vh;
    background-color: black;
    top: 24px;
    right: 60px;
    z-index: 2;
    padding: 0 10% 72% 9%;
  }
  .menu-mobile__close {
    color: white;
    font-size: 3.8rem;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    padding-top: 10%;
  }
  .menu-mobile__row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 25%;
  }
  .menu-mobile__item {
    color: white;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 1.2;
  }
  .menu-mobile__item_active {
    color: #F8C800;
  }
  .menu-mobile__item:hover {
    color: #F8C800;
  }
  .title {
    line-height: 1;
    font-size: 4.7rem;
  }
  .title__wrapper {
    width: 100vw;
  }
  .title__active {
    opacity: 1;
    top: 0;
    left: auto;
    right: 6vw;
    transform: translateY(583%);
  }
  .title__hide {
    font-size: 3.7rem;
    line-height: 2.3;
    transform: translateY(0);
  }
  .title-background__wrapper:before {
    height: 111%;
  }
  .main-title {
    padding-top: 28vh;
    position: relative;
  }
  .main-title:after {
    content: '';
    position: absolute;
    bottom: -18.5rem;
    width: 100vw;
    background: #F8C800;
    height: 12rem;
    left: 0;
  }
  .container-mobile {
    max-width: 100vw;
  }
  .cards {
    padding-top: 35vw;
  }
  .card {
    width: 100%;
    margin-bottom: 6.5vh;
  }
  .card__title {
    font-size: 4rem;
  }
  .card__line {
    height: 4vw;
  }
  .card__subtitle {
    font-size: 2.6rem;
  }
  .advantage__title {
    font-size: 4.3rem;
  }
  .advantage-cards {
    padding-left: 0;
    flex-direction: column;
  }
  .advantage-card {
    margin-top: 32px;
    width: 100%;
  }
  .advantage-card__subtitle {
    font-size: 2.5rem;
    margin-top: 12%;
  }
  .advantage-card__subtitle br {
    display: none;
  }
  .advantage-card__title {
    font-size: 3.4rem;
  }
  .advantage-card__line {
    bottom: -62%;
    width: 100%;
  }
  .advantage-logo {
    display: none;
  }
  .advantage-logo_mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 68px;
  }
  .advantage-logo__wrapper {
    width: 48%;
    margin-top: 20px;
  }
  .advantage-logo__wrapper img {
    width: 62%;
  }
  .advantage-logo__sber {
    width: 60%;
  }
  .advantage-logo__sber img {
    width: 89%;
  }
  .advantage-logo__gaz {
    width: 40%;
  }
  .advantage-logo__transneft img,
  .advantage-logo__webasto img,
  .advantage-logo__lukoil img {
    width: 70%;
  }
  .advantage-logo__glo img {
    width: 50%;
  }
  .advantage__footer:after {
    width: 112%;
  }
  .advantage__active {
    display: block;
    line-height: 1.1;
    transform: translateY(132%);
    right: -11.2rem;
  }
  .advantage__wrapper {
    width: auto;
  }
  .advantage__footer {
    padding-bottom: 49px;
    margin-top: 39px;
    padding-left: 3vw;
    font-size: 4.3rem;
  }
  .advantage__footer:after {
    height: 5rem;
    bottom: 1rem;
  }
  .contacts-video {
    width: 160vw;
    height: auto;
    overflow-y: hidden;
  }
  .contacts-video__wrapper {
    overflow-x: hidden;
  }
  .contacts__video {
    width: 100%;
    transform: translateX(-27vw);
  }
  .contacts-contain {
    width: 100vw;
    transform: translateY(189%);
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    margin-top: 4vh;
  }
  .contacts__wrapper {
    margin-left: 3vw;
  }
  .contacts__title {
    font-size: 3rem;
    margin-bottom: 6px;
  }
  .contacts__form {
    width: 53vw;
  }
  .contacts__input {
    font-size: 2.6rem;
  }
  .contacts__button {
    font-size: 2.6rem;
  }
  .footer {
    margin-top: 64%;
    padding: 4vw 0 4vw;
  }
  .footer__description {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer__description img {
    width: 85px;
    height: 40px;
  }
  .footer__description a:nth-child(even) {
    margin-top: 20px;
  }
  .footer__contacts {
    font-size: 2.3rem;
  }
  .footer__contacts:nth-child(even) {
    margin-top: 48px;
  }
  .footer__icons {
    flex-direction: column;
  }
  .footer__row {
    width: 100%;
    justify-content: flex-end;
  }
  .footer__row a {
    margin-right: 0;
    width: 20%;
    margin-top: 15%;
    margin-left: 16%;
    margin-right: 15%;
  }
  .footer__row img {
    width: 100%;
  }
  .footer .facebook-link {
    margin-right: 8%;
  }
  .footer-logo__hiden {
    opacity: 1;
  }
  .footer-logo__wrapper img {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .title {
    font-size: 4rem;
  }
  .title__active {
    transform: translateY(531%);
  }
  .advantage__active {
    line-height: 1;
    transform: translateY(138%);
  }
  .advantage__title {
    font-size: 4rem;
  }
  .contacts-contain {
    margin-top: 0;
  }
  .footer {
    margin-top: 68%;
  }
}
@media screen and (max-width: 360px) {
  .advantage__title {
    font-size: 3.8rem;
  }
  .contacts__button {
    font-size: 2.4rem;
  }
  .footer {
    margin-top: 84%;
  }
}
