@yellow-color: #F8C800;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Druk Wide Cy';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.mobile-indent {
    display: none;
}

.container {
    // max-width: 1150px;
    max-width: 75vw;
    margin: 0px auto;
}

.container-mobile {
    max-width: 75vw;
    margin: 0px auto;
}

.main {
    background-color: @yellow-color;
    height: 100vh;
    overflow-x: hidden;

    &-title {
        padding-top: 11vh;
        position: relative;
        z-index: 1;
    }
}

.menu {
    &__logo {
        position: absolute;
        top: 0;
        left: -5px;

        &_active {
            top: 16px;
        }

        & img {
            width: 127.35px;
            height: 96.02px;
        }
    }

    &__row {
        background-color: black;
        box-shadow: -30px 0 0 #000;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 1.2;
        letter-spacing: 0.12em;
        color: @yellow-color;

        &:hover {
            color: #FFFFFF;
        }
    }


}

.menu-mobile {
    display: none;
}

.title {
    font-size: 4rem;
    line-height: 0.9;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 85%;

    &__wrapper {
        position: relative;
        display: inline-block;
    }

    &__hide {
        display: flex;
        justify-content: flex-end;
        font-size: 3.1rem;
        line-height: 1.1;
        color: #000000;
        transform: translateY(-110%);
    }

    &__active {
        opacity: 0; //for animation
        color: @yellow-color;
        background-color: black;
        font-size: 4rem;
        line-height: 0.9;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 99.4%;
        box-shadow: 0 0.4rem black, 0 -0.17rem black;
    }

    &-background {

        // width: 100vw;
        // position: absolute;
        &__wrapper {
            // width: 100vw;
            position: relative;

            &::before {
                content: '';
                width: 100vw;
                height: 91%;
                background-color: @yellow-color;
                position: absolute;
                bottom: 0;
                z-index: -1;
            }
        }
    }
}

.projects {}

.video {
    width: 100%;
    // transform: translateY(-11vh);
    position: relative;

    &__media {
        width: 100%;
        height: auto;
    }

    &__image {
        &_top {
            width: 75%;
            position: absolute;
            transform: translate(16%, -99%);
        }

        &_bottom {
            width: 75%;
            position: absolute;
            bottom: -20%;
            left: 12%;

        }
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 14vw;

}

.card {
    width: 24.5vw;
    margin-bottom: 8vh;

    &__image {
        width: 100%;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 1.5;
        position: relative;

        &_ozon,
        &_sber,
        &_shell,
        &_gaz,
        &_domovenok,
        &_pravmir {

            display: none;
            position: absolute;
            background-color: black;
            color: @yellow-color;
            bottom: -1px;
            width: 100%;
            height: 112%;
            padding-top: 1%;
            animation: animate_on_hover .5s ease;

        }

    }

    &__line {
        width: 100%;
        height: 1.4vw;
        background-color: black;
    }

    &__subtitle {
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        margin-top: 10px;
    }
}

@keyframes animate_on_hover {
    0% {
        top: 37%;
    }

    100% {
        top: -9%;
    }
}

////////Преимущества//////////
.advantage {
    background-color: @yellow-color;
    padding-top: 78px;
    overflow-y: hidden;

    &__title {
        width: 100%;
        font-size: 3.8rem;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        padding-left: 3.5vw;
    }

    &-card {
        // margin-right: 12vw;
        margin-top: 59px;
        width: 35vw;

        &__title {
            font-size: 1.5rem;
            line-height: 1.06;
            position: relative;
        }

        &__line {
            position: absolute;
            width: 72%;
            // width: 0;
            bottom: -44%;
        }

        &__subtitle {
            font-family: 'Nekst';
            font-style: normal;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.2;
            margin-top: 7%;
        }
    }

    &-logo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 111px;

        &_mobile {
            display: none;
        }

        &__wrapper {
            width: 15%;
            display: flex;
            justify-content: center;

            & img {
                width: 100%;
            }
        }

        &__sber {
            width: 30%;
        }
        &__glo{
            width: 10%;
        }
        &__lukoil{
            width: 17%;

        }
    }

    &__wrapper {
        z-index: 1;
    }

    &__active {
        opacity: 1;
        z-index: -1;
        font-size: 3.8rem;
        line-height: 0.9;
        left: 99.6%;
        z-index: -1;
        transform: translateY(150%);
        // height: 92px;
        // top: 7px;
        // line-height: 1.03;
    }

    &__footer {
        font-size: 3.8rem;
        // padding-bottom: 66px;
        padding-bottom: 5%;
        margin-top: 64px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 45%;
            width: 125%;
            background-color: @yellow-color;
            bottom: -10%;
            left: 0;
            z-index: 1;
        }
    }
}


.contacts {
    position: relative;

    // z-index: 2;
    &-video {
        width: 78vw;
        position: relative;

        &__mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(../img/contacts/logo-test.svg) 0% 0% no-repeat;
            background-size: contain;
            z-index: 1;
        }
    }

    &__video {
        width: 80%;
        height: auto;
        transform: translateX(-11vw);

    }

    &-contain {
        width: 61vw;
        background-color: white;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        z-index: 1;

    }

    &__wrapper {
        margin-left: 75px;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 1.06;
        margin-bottom: 13px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 18vw;
    }

    &__input {
        border: 2px solid #868686;
        margin-top: 7px;
        padding: 9px;
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.2;
    }

    &__button {
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.2;
        color: @yellow-color;
        padding: 9px;
        margin-top: 15px;
        border: 1px solid black;
        background-color: black;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

////footer/////////////

.footer {
    background-color: black;
    padding: 2vw 0 2vw;
    box-shadow: 0px -5px black;
    z-index: 1;
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;

        & img {
            width: 7vw;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-logo {
        &__wrapper {
            // margin-left: 3.5vw;
            position: absolute;
            bottom: 0;
            transform: translateY(calc(100% + 2vw));
            left: 20.4%;
            width: 8.5%;
            z-index: 2;

            & img {
                width: 100%;
            }

        }

        &__hiden {
            opacity: 0;
        }
    }

    &__contacts {
        font-family: 'Nekst';
        font-style: normal;
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.2;
        color: #FFFFFF;

        &:hover {
            color: #616060;
            cursor: pointer;
        }
    }

    &__icons {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__row {
        display: flex;
        align-items: center;
        width: 30%;

        & a {
            width: 18%;
            margin-right: 33%;
        }

        & img {
            width: 110%;
            // margin-right: 33%;

            &:hover {}
        }
    }

    .facebook {
        width: 60%;
    }

    .insta {
        width: 90%;
    }
}

@media screen and (max-width: 1500px) {
    html {
        font-size: 18px;
    }

    .title {

        // &__active {
        //     height: 80px;
        //     box-shadow: rgb(0 0 0) -2px 0px 0px;
        // }
    }

    // .advantage__active {
    //     top: 7px;
    //     height: 76px;
    // }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: 80vw;
    }

    .menu__logo img {
        width: 82.35px;
        height: 74.02px;
    }

    .title {

        // &__active {
        //     height: 65px;
        //     top: 7px;
        // }
    }

    // .advantage__active {
    //     top: 6px;
    // }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .title {
        // &__active {
        //     height: 51px;
        //     top: 6px;
        // }
    }

    .menu {
        &__row {
            padding-left: 30px;
            box-shadow: none;
        }

        &__logo img {
            width: 76.35px;
            height: 66.02px;
        }
    }

    // .advantage__active {
    //     top: 3.7px;
    // }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .title {
        // &__active {
        //     height: 41px;
        //     top: 5px;
        //     box-shadow: #000000 -1px 0px 0px;
        // }
    }

    // .cards {
    //     padding-top: 60px;
    // }

    .card {
        width: 39vw;
    }

    // .advantage__active {
    //     top: 3.7px;
    // }

    .contacts {
        &__form {
            width: 22vw;
        }
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 7px;
    }

    // .title__active {
    //     height: 30px;
    //     top: 4px;
    // }

    // .advantage__active {
    //     top: 2.1px;
    // }

    .contacts {
        &__title {
            margin-bottom: 0;
        }

        &__input {
            padding: 4px;
        }
    }
}

@media screen and (max-width: 420px) {
    html {
        font-size: 7px;
    }

    .container {
        max-width: 94vw;
    }

    .mobile-indent {
        display: block;
    }

    .desktop-indent {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-mobile__card {
        &_hide {
            display: none;
        }
    }

    .menu-mobile {
        display: block;

        &__logo {
            position: fixed;
            top: 6px;
            right: 8px;

            z-index: 2;


            & img {
                width: 58px;
                height: 47px;
            }
        }

        &__card {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 78vw;
            height: 90vh;
            background-color: black;
            top: 24px;
            right: 60px;
            z-index: 2;
            padding: 0 10% 72% 9%;
        }

        &__close {
            color: white;
            font-size: 3.8rem;
            font-family: 'Nekst';
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            transform: rotate(45deg);
            width: 20px;
            height: 20px;
            padding-top: 10%;
        }

        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding-top: 25%;
        }

        &__item {
            color: white;
            font-family: 'Nekst';
            font-style: normal;
            font-weight: 300;
            font-size: 2.6rem;
            line-height: 1.2;

            &_active {
                color: @yellow-color
            }

            &:hover {
                color: @yellow-color;
            }

        }
    }

    .title {
        line-height: 1;
        font-size: 4.7rem;
        &__wrapper{
            width: 100vw;
        }
        &__active {
            // display: none;
            // right: 0;
            opacity: 1;
            top: 0;
            left: auto;
            right: 6vw;
            // transform: translateY(532%);
            transform: translateY(583%);
        }

        &__hide {
            font-size: 3.7rem;
            line-height: 2.3;
            transform: translateY(0);

        }
        &-background {
            &__wrapper{
                &:before{
                    height: 111%;
                }
            }
        }
        
    }

    .main-title {
        padding-top: 28vh;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -18.5rem;
            width: 100vw;
            background: @yellow-color;
            height: 12rem;
            left: 0;
        }
    }

    .container-mobile {
        max-width: 100vw;
    }

    .video {
        // transform: translateY(-10vh);
    }

    .cards {
        padding-top: 35vw;

    }

    .card {
        width: 100%;
        margin-bottom: 6.5vh;

        &__title {
            font-size: 4rem;
        }

        &__line {
            height: 4vw;
        }

        &__subtitle {
            font-size: 2.6rem;
        }
    }

    .advantage {
        &__title{
            font-size: 4.3rem;
        }
        &-cards {
            padding-left: 0;
            flex-direction: column;
        }

        &-card {
            margin-top: 32px;
            width: 100%;

            &__subtitle {
                font-size: 2.5rem;
                margin-top: 12%;

                & br {
                    display: none;
                }
            }

            &__title {
                font-size: 3.4rem;
            }

            &__line {
                bottom: -62%;
                width: 100%;
            }
        }

        &-logo {
            display: none;

            &_mobile {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 68px;
            }

            &__wrapper {
                width: 48%;
                margin-top: 20px;

                & img {
                    width: 62%;
                }
            }

            &__wrapper:nth-child(odd) {
                // justify-content: flex-start;
            }

            &__sber {
                width: 60%;

                & img {
                    width: 89%;
                }
            }

            &__gaz {
                width: 40%;
            }

            &__transneft,
            &__webasto,
            &__lukoil {
                & img {
                    width: 70%;
                }
            }
            &__glo{
                & img {
                    width: 50%;
                }
            }

        }
        &__footer{
            &:after{
                width: 112%;
            }
        }
    }

    .advantage {
        &__active {
            display: block;
            line-height: 1.1;
            // transform: translateY(132%);
            transform: translateY(132%);
            right: -11.2rem;
            // right: 0.5px;
            // transform: translateX(100%);
            // top: 2.5px;
        }
        &__wrapper{
            width: auto;
        }
        &__footer {
            padding-bottom: 49px;
            margin-top: 39px;
            padding-left: 3vw;
            font-size: 4.3rem;
            &:after{
                height: 5rem;
                bottom: 1rem;
            }
        }
    }

    .contacts {

        // overflow-x: hidden;
        &-video {
            width: 160vw;
            height: auto;
            overflow-y: hidden;
            &__wrapper {
                overflow-x: hidden;
            }
        }

        &__video {
            width: 100%;
            transform: translateX(-27vw);
        }

        &-contain {
            width: 100vw;
            transform: translateY(189%);
            align-items: flex-start;
            height: auto;
            justify-content: flex-start;
            margin-top: 4vh;
        }

        &__wrapper {
            margin-left: 3vw;
        }

        &__title {
            font-size: 3rem;
            margin-bottom: 6px;
        }

        &__form {
            width: 53vw;
        }

        &__input {
            font-size: 2.6rem;
        }

        &__button {
            font-size: 2.6rem;
        }
    }

    .footer {
        margin-top: 64%;
        padding: 4vw 0 4vw;

        &__description {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            & img {
                width: 85px;
                height: 40px;
            }

            & a:nth-child(even) {
                margin-top: 20px;
            }
        }

        &__contacts {
            font-size: 2.3rem;
        }

        &__contacts:nth-child(even) {
            margin-top: 48px;
        }

        &__icons {
            flex-direction: column;
        }

        &__row {
            width: 100%;
            justify-content: flex-end;

            & a {
                margin-right: 0;
                width: 20%;
                margin-top: 15%;
                margin-left: 16%;
                margin-right: 15%;
            }

            & img {
                width: 100%;
            }
        }

        .facebook-link {
            margin-right: 8%;

        }
        &-logo{
            &__hiden{
                opacity: 1;
            }
            &__wrapper{
                & img{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .title{
        font-size: 4rem;
        &__active{
            transform: translateY(531%);
        }
    }
    .advantage{
        &__active{
            line-height: 1;
            transform: translateY(138%);
        }
        &__title{
            font-size: 4rem;
        }
    }
    .contacts{
        &-contain{
            margin-top: 0;
        }
    }
    
    .footer {
        margin-top: 68%;
    }
}

@media screen and (max-width: 360px) {
    .advantage{
        &__title{
            font-size: 3.8rem;
        }
    }
    .contacts__button {
        font-size: 2.4rem;
    }

    .footer {
        margin-top: 84%;

    }
}